/* Import of text font */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Text font */
* {
	font-family: 'Raleway', regular;   /*impoter  dossier raleway et deziper*/

}

/* Body margin top 8px, all other 0 */
body{
	margin: 0;
} 

/* Every thing that is in header have margin right and left 2.5%  */
header {
	margin-left: 2.5%;
	margin-right: 2.5%;
	
}

/* Every thing that is in body-container have margin right and left 2.5% (same as elements in header  */
#body-container{
	margin-left: 2.5%;
	margin-right: 2.5%;
}

/* Often used  */
.container{
	width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: -15px;
	margin-bottom: 15px;
	
}
.flexbox{
	display: flex;
	  
}



/* Navbar and Logo */
#img-reservia{
	width: 105px;
	height: 45px;
}
.nav-bar{
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
}
.nav-active{
	color: #0065FC;
} 
 /* Navbar links hover line  */
nav ul li a{
	padding-top: 45px;
}
nav a:hover{
	border-top: 1px solid #0065FC;
}


/* Search box and its components */
.search-box{
    border: 1px solid #F2F2F2;
	border-radius: 15px;
	overflow: hidden;
	width: 450px;
	height: 50px;
    
	border-right: none!important;
	border-left: none!important;

   
}
/* Its components */
.search-location{
	
	border: 1px solid #F2F2F2;
	border-right: none;
	background-color: #F2F2F2;
	width: 8%;
	padding-left: 8px;
	padding-right: 8px;

    background-image: url(icones/location-solid.png);
    background-size: 18px; 
	background-position: right;
    background-repeat: no-repeat; 
    background-position-x: 16px;

}
.search-input{
	width: 60%;
	font-size: 1.15em;
	border: none;
	padding-left: 20px;
	font-weight: bold;
	
}
.search-button{
	width: 32%; 
	background-color: #0065FC;
	border: 1px solid #0065FC;
	border-left: none;
	font-size: 1.15em;
	font-weight: bold;
	text-align: center;
	color: white;
}


/* Filters */
#filters{
	align-items: baseline;
	font-weight: bold;
  	font-size: 1.15em;
}
.filter-box{
    border: 1px solid #F2F2F2;
	border-left: none;
	border-radius: 25px;
	margin: 2% 0 0 3.5%;
}
.filter-icon{
    border: 2px solid #DEEBFF;
	background-color: #DEEBFF;
	border-radius: 25px;
	padding: 10px;
	width: 20px;
	text-align: center;
}
.filter-text{
	padding: 20px;
	padding-right: 25px;
	text-align: center;
}



/* Icon i-info */
#i-circle{
	padding: 10px;
	padding-left: 0%;
	/* margin-top: 5px; */
	
}
#i-circle-icon{
	font-size: 13px;
	padding: 5px;
	border: 1px solid #F2F2F2;
	border-radius: 25px;
	width: 12px;
	text-align: center;
}


/* Big boxes (Left and Right) */
#div-box-one{
	margin-bottom: 30px;
	border-radius: 20px;
	background-color: #F2F2F2;
}
#div-box-two{
	margin-left: 2.6%;
	margin-bottom: 30px;
	border-radius: 20px;
	background-color: #F2F2F2;
}


/* Box text */
.div-box-one-p1{
	padding-left: 40px;
	padding-top: 30px;
	
}
#div-box-one-p2{
	padding-left: 40px;
	padding-top: 5px;
	padding-bottom: 35px;
	
}


/* Lists of cards (rows amd columns) */
#small-list-one{
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	list-style-type: none;
	display: flex;
  	flex-wrap: wrap;
}
#small-list-two{
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	list-style-type: none!important;
	display: flex;
  	flex-direction: column;
}


/* Cards (rows and columsn) */
.small-cards-row{
  background: white;
  padding: 5px;
  width: 270px;
  height: 220px;
  margin: 20px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
}
.small-cards-col{
  background: white;
  padding: 5px;
  width: 350px;
  height: 150px;
  margin: 20px;

  border-radius: 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  position: relative;
  
}


/* Small card row image container */
.small-card-img-container {
	width: 100%; 
	height: 60%;
	margin-bottom: 10px;
	overflow: hidden;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	position: relative;
}
/* Small card row image  */
.small-card-row-img{
	width: 100%;
	position: absolute;
}
/* Small card row image top fix */
.img-fix-top-1{
	top: -30px;
}
.img-fix-top-2{
	top: -40px;
}
.img-fix-top-3{
	top: -40px;
}
.img-fix-top-4{
	top: -100px;
}
.img-fix-top-5{
	top: -10px;
}
.img-fix-top-6{
	top: -170px;
}

/* Small card row text */
.small-card-row-text{
	margin-bottom: 5px; 
	margin-top: 0; 
	padding-left: 10px;
}


/* Star rating */
.star-box{
	padding-left: 10px;
}
.star-color{
	color: #DEEBFF;
	font-size:  0.75rem;
}
.star-checked{
	color: #0065FC;
}




/* Growth icon (second colomn list) */
#growth-icon{
	margin-top: 19.92px;
	padding-top: 30px;
	padding-right: 40px!important;
	width: 35px;
	height: 28px;
	padding-left: 8px;
	padding-right: 8px;
    background-image: url(icones/growth-solid.png);
    background-size: 28px; 
	background-position: right;
    background-repeat: no-repeat; 
    background-position-x: 14px;
    background-position-y: 30px;

}



/* Small card col image container */
.small-card-img-container-col {
	width: 40%; 
	height: 100%;
	overflow: hidden;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	position: relative;
}
/* Small card col image  */
.small-card-col-img{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
}

/* Small card col text */
.small-card-col-text{
	width: 45%;
	margin-bottom: 5px; 
	margin-top: 0;
	margin-left: -10px; 
}
/* Star rating in columns cards */
.star-box-col{
	position: absolute;
	left: 46%;
	bottom: 0;
	margin-bottom: 10px;

}







/* 						Third chapter            			 */

/* -Third box  */
#box-tree{
	height: 525px;
	padding: 0;
	margin-top: 50px;
	margin-left: 0px;

}

/* Small List 3 */
#small-list-tree{
	height: inherit;
	width: inherit;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
  	flex-wrap: wrap;

}

/* Small cards activites  */
.small-cards-activities{
	width: 23%;
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 #F2F2F2;
	display: flex;
	flex-direction: column;
	position: relative;
}


/*  Small-card-img-container-activities  */
.small-card-img-container-activities{
	width: 100%; 
	height: 90%;
	overflow: hidden;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	position: relative;
}
/* Small card activities image  */
.small-card-activities-img{
	width: 100%;
	position: absolute;
}



/* Small cards large  */
.small-cards-large{
	flex-basis: 100%
}

/* Small card medium  */
.small-cards-medium{
	flex-basis: 55%;
}

/* Small card small  */
.small-cards-small{
	flex-basis: 35%; 
}
/* Small cards even  */
.small-cards-even{
	flex-basis: 45%;
}



/* Small card space between card on top  */
.small-cards-margin-top{
	margin-top: auto;
}
/* Small card space between card on bottom  */
.small-cards-margin-left{
	margin-left: 2.6%;
}

/* Text in small activities cards  */
.small-cards-activities-text{
	padding-left: 20px;
	font-weight: bold;
}

/* Image in activities number 1   */
#activity-img-1{
	height: 500px; 
	width: 800px;  
	left: -230px;
}
/* Image in activities number 2   */
#activity-img-2{
	top: -110px;
}
/* Image in activities number 3   */
#activity-img-3{
	top: -25px;
}
/* Image in activities number 4   */
#activity-img-4{
	height: 500px; 
	width: 800px;
	left: -230px;
}
/* Image in activities number 5    */
#activity-img-5{
	top: 0px;
}
/* Image in activities number 6   */
#activity-img-6{
	top: -10px;
}


/*    		-- 		Footer   	--		 */
footer{
	background-color: #F2F2F2; 
	height: 220px;
	margin-top: 130px;
}

footer ul{
	display: flex; 
	justify-content: space-between; 
	margin-right: 25%;
}

footer ul li{
	display: flex;
	flex-direction: column;
}

footer ul li a{
	padding-bottom: 15px;
	/* Transparency of text in <a> (link) */
	opacity: 0.95;	
}

footer ul li h3{
	margin-top: 0;
}

#footer-list{
	padding-left: 2.5%;
	padding-top: 2.5%;
	margin-top: 0;
}
/*     			--------------------- 			*/




/*      	 Other styles        */

/* Color of text in input (Marseille, France) */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 1; /* Firefox */
}


nav ul{
	list-style-type: none;
	display: flex;
	
}


/* Distance between nav items (Hébergements Activités S'inscrire) */
nav li {
	margin-left: 95px;
}

/* Color of fontwesome icons */
i{
	color: #0065FC;
}

nav p, a{
	color: black;
	text-decoration: none;

}


